* {
	box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
body {
}

.city {
    font-size: 31px;
}

.citySearch {
    margin-bottom: 10px;
}

.currentTemperature {
    margin-top: 0;
}

.description {
    width: 64px;
}

.currentTemperature {
    margin-bottom: 0px;
}

.currentForecast {
   }

.forecastWeather {
     display: inline-block;
    border-left: 2px solid black;
    padding-left: 17px;
    padding-right: 17px;
}

.weather {
    text-align: center;
}

.mainIcon {
    width: 128px;
}

.overcast {
    margin-bottom: 0;
}

.noMargBottom {
    margin-bottom: 0;
}

.mt {
    margin-top: 10px;
}

.overlay {
    width: 100%;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.smt {
    margin-top: 4px; 
}

button {
	margin-bottom: 12px;
	margin-left: 12px;
	display: block;
	width: 104px;
}

.weatherCity {
    text-align: center;
    display: inline-block;
    margin-left: 33px;
}

.weather-info {
     background: rgba(158, 158, 158, 0.14);
     display: inline-block;
     border: 2px solid #b7a4a8;
     border-radius: 4px;
     text-align: left;
}

.weeklyBars {
    margin: 10px;
    display: inline-block;
    width: 160px;
    vertical-align: middle;
}

.today-icon {
     display: inline-block;
}

#today {
	margin: 0 auto;
    display: block;
}
