* {
	box-sizing: border-box;
}
body {
}

.city {
    font-size: 31px;
}

.citySearch {
    width: 22%;
    margin-bottom: 10px;
    border: 1px solid #283951;
    height: 22px;
    border-radius: 4px;
    background: rgba(255, 99, 71, 0.13);
}

.citySearch:focus {
    outline: none;
}

.currentTemp {
    margin-top: 0;
}

.description {
    width: 64px;
}

.currentTemperature {
    margin-bottom: 0px;
}

.currentForecast {
   }

.forecastWeather {
     display: inline-block;
    border-left: 2px solid black;
    padding-left: 17px;
    padding-right: 17px;
}

.weather {
    text-align: center;
}

.weatherIcon {
    width: 128px;
}

.summary {
    margin: 0;
}

.noMargBottom {
    margin-bottom: 0;
}

.mt {
    margin-top: 10px;
}

.overlay {
    width: 100%;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.smt {
    margin-top: 4px; 
}

button {
    width: 22%;
    border-radius: 8px;
    transition: .38s;
    border-radius: 13px;
    height: 30px;
    margin-top: 1%;
    border: 2px solid #446379;
    margin-left: 1%;
    display: block;
    background: rgba(255, 99, 71, 0.13);
}

.weekday {
    margin: 0;
}

.weatherCity {
    text-align: center;
    display: inline-block;
    margin-left: 55px;
    margin-right: 13px;
}

.weather-info {
     border: 3px solid rgb(107, 151, 177);
     display: inline-block;
     border-radius: 4px;
     text-align: left;
     background: rgba(0, 14, 97, 0.11);
}

.weeklyBars {
    margin: 10px;
    display: inline-block;
    width: 160px;
    vertical-align: middle;
}

.weekly:hover {
    background:rgba(46, 126, 202, 0.41)
 }

.today-icon {
     display: inline-block;
}

.today {
}

.today:hover {
    background: rgba(255, 99, 71, 0.42);
}
